.cards {
  margin: 10px;
  border: 5px solid transparent;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 350px;
  transition: all 0.6s;
  border-radius: 0.5rem;
  // background-color: yellowgreen;
  cursor: pointer;

  figure {
    height: 300px;
    background: linear-gradient(
      90deg,
      rgba(73, 35, 120, 1) 0%,
      rgba(73, 35, 120, 1) 38%,
      rgba(73, 35, 120, 1) 100%
    );
  }
  ul {
    li {
      padding: 0.4rem 0 0.4rem 0.6rem;
      display: flex;
      justify-content: space-between;
      // color: #033030;
      font-weight: bold;

      .table__label {
        // color: #000;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
      }
    }
  }

  .card__details {
    padding: 0 10px 10px;
    position: relative;

    h3 {
      font-size: 25px;
      padding: 10px;
      // color: rgba(0, 0, 0, 0.788);
    }
    hr {
      background-color: #000;
      padding: 1px;
      width: 100%;
    }
  }

  .card__list {
    margin-top: 1rem;
    padding: 0;
  }

  img {
    max-width: 100%;
    opacity: 0.5;
    transition: opacity 0.5s;
    border-radius: 0.2rem;
    width: 100%;

    &:hover {
      opacity: 1;
    }
  }

  .card__favorite {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0.4rem;
    opacity: 0.7;
    cursor: pointer;
  }

  &:hover {
    border: 5px solid rgb(63, 58, 58);
    box-shadow: 5px 5px 1px rgba(250, 246, 246, 0.5);
    -webkit-box-shadow: 5px 5px 20px rgba(250, 246, 246, 0.5);
    -moz-box-shadow: 5px 5px 20px rgba(250, 246, 246, 0.5);
  }
}

/*** Media queries 500 px ***/

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
  }

  /* Card */
  .character__list {
    justify-content: flex-start;
    flex-direction: column;
  }

  .card {
    border: 5px solid rgba(97, 62, 62, 0.9);
    box-shadow: 2px 2px 6px 0px rgba(255, 255, 255, 0.3);
    max-width: 100%;

    img {
      opacity: 1;
    }
  }
}
