
.no-hidden {
  position: fixed;
  bottom: 10px;
  right: 10px;
  visibility: visible;
}

section.character__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  margin-top: 5%;
}

.bStyle {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 3;
  margin: .7rem;
  color: black;
  background-color: yellowgreen;
}
