<h1 class="text-white text-center mtsss">Rick and Morty GraphQL</h1>
<section class="container margin text-white">
  <div class="about__container">
    <div>
      <img src="assets/img/minh.jpg" alt="" width="280" /><br />
      <h4 class="about__paragraph">
        Oiie meu nome é Talita e sou Analista de sistemas, atualmente tenho 20
        anos e gosto de brincar um pouco com APIS, desa vez usei a
        API-Rick-And-Morty com GraphQL o link está aqui da documentação →
        <a href="https://rickandmortyapi.com/documentation/#graphql"
          >Link-API</a
        >
      </h4>
    </div>

    <div class="mtssss">
      <h1>O que eu fiz:</h1>
      <br />
      <ul>
        <li>Adicionei a Listagem de personagem</li>
        <li>Adicionei a Listagem de Episódios</li>
        <li>Adicionei not found page (404)</li>
        <li>
          Implementei o LocalStorage, então você pode adicionar ou remover um
          personagem favorito que é automaticamente salvo no LocalStorage
        </li>
        <li>Implementei o scroll infinito</li>
        <li>Adicionei o scroll top</li>
        <li>Campo de pesquisa de personagem</li>
        <li>Fiz um <b>Pipe</b> para formatar o texto que vem da API</li>
        <li>Implementei Theme Dark</li>
        <li>Implementei Spiner de louding</li>
        <li>Implementei Login, Cadastro e Logout com firebase</li>
        <li>Implementei Guarda de Rotas</li>
        <li>Na tela de login e cadastro eu implementei o reCaptcha</li>
        <li>
          Implementei no cadastro a opção de cadastrar uma foto para perfil
        </li>
        <li>
          Ao se logar tem a parte de perfil contento nome, email, logout e a
          opção de Mudar o tema do site
        </li>
      </ul>
    </div>
  </div>
</section>
