<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container-fluid">
      <h3>
        <a class="navbar-brand mx-5" [routerLink]="['/home']"
          >Rick and Morty
        </a>
      </h3>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              [routerLink]="['/home']"
              >Favoritos</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              [routerLink]="['/character-list']"
              >Personagens</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              [routerLink]="['/episodes']"
              >Episódios</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              [routerLink]="['/about']"
              >Sobre</a
            >
          </li>
          <li></li>
        </ul>

        <div class="dropdown">
          <a
            type="button"
            id="dropdownMenu2"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              *ngIf="user.photoUrl != null"
              class="profile"
              src="{{ user?.photoUrl }}"
              alt=""
            />
            <img
              *ngIf="user.photoUrl == null"
              class="profile"
              src="{{ photo }}"
              alt=""
            />
          </a>

          <div class="dropdown-menu row mr-5" aria-labelledby="dropdownMenu2">
            <h5 *ngIf="user.name != null" class="dropdown-header">
              {{ user?.name }}
            </h5>
            <p class="dropdown-item">{{ user?.email }}</p>
            <hr class="dropdown-divider" />
            <h5 class="dropdown-header">Mudar Tema</h5>

            <i
              class="mx-3"
              data-toggle="tooltip"
              title="Mudar Theme"
              [ngClass]="{
                'bi bi-toggle-off': !trocaIcon,
                'bi bi-toggle-on': trocaIcon
              }"
              [(ngModel)]="isDarkMode"
              (click)="toggleDarkMode()"
            ></i>

            <hr class="dropdown-divider" />
            <div class="d-flex justify-content-center">
              <button
                class="d-flex justify-content-center butao"
                type="button"
                (click)="logout()"
              >
                Sair
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
