@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "RocknRoll One", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #5e2c99;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;

}

::-webkit-scrollbar-track {
  background-color: rgb(8, 20, 19);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(177, 205, 50);
  border-radius: 20px;
}
