section.search__container {
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 60px;
  margin-top: 10%;

  input {
    background-color: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 20px;
    color: #cac7ff;
  }

  ::placeholder {
    color: rgb(194, 185, 185);
  }

  button {
    border: none;
    background-color: transparent;
    padding: 10px;

    &:focus {
      outline: none;
    }

    i{
      font-size: 25px;
      color: rgb(204, 199, 199);
    }
  }
}

@media screen and (max-width: 768px) {
  section.search__container {
    flex-direction: column;

    .search__name {
      width: 100%;
      margin-bottom: 1rem;
    }

    button {
      margin: 5px 0;
      width: 95%;

      &:focus {
        outline: none;
      }
    }
  }
}
